.div_titulo {
    display: flex;
    justify-content: center;
}

#myMapContainer {
    position: relative; /* Mantiene el contenedor fijo en la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegúrate de que ocupe toda la ventana */
}

#myMap {
    width: 100%;
    height: 100%;
}

#context {
    position: absolute;
    pointer-events: none;
    top: 55%;
    left: 50%;
    width: 90%;
    height: auto;
    transform: translate(-50%, -50%);
}
