.div_titulo {
    display: flex;
    justify-content: center;
}

#myMap {
    position: relative; /* Importante para posicionar el SVG dentro del mapa */
    width: 100%;
    height: 600px;
}

#context {
    position: absolute;
    pointer-events: none;
    top: 15%; /* Ajusta esta posición según la ubicación deseada en el mapa */
    left: 13%; /* Ajusta esta posición según la ubicación deseada en el mapa */
    width: 75%; /* Mantén el tamaño en relación con el contenedor */
    height: auto; /* Ajusta automáticamente la altura manteniendo la proporción */
}
